body {
	margin: 0;
	font-family: 'Cuprum', Arial, sans-serif;
	font-size: 13px;
	line-height: 24px;
	color: #000000;
	background-color: #ffffff;
}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
	height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.container {
	width: 940px;
	margin: 0 auto;
	padding: 0 10px;
}

.main-header {
	min-height: 320px; /* temp */
	margin-bottom: 60px;
}

.main-header {
	background-color: #f3f7f8;
}

.top-haeder-wrapper {
	width: 100%;
	margin-bottom: 46px;
	background-color: #293449;
}

.top-header {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-end;
	font-size: 17px;
	line-height: 18px;
	color: #ffffff;
	background-color: transparent;
}

.top-header a {
	position: relative;
	display: block;
	padding-top: 10px;
	padding-bottom: 13px;
	color: #ffffff;
}

.top-header .logo {
	position: absolute;
	top: 0;
	left: 0;
	width: 109px;
	height: 19px;
	padding-top: 12px;
	padding-bottom: 15px;
	padding-left: 55px;
	padding-right: 56px;
	text-align: center;
	background-color: #ee3643;
	box-shadow: inset 0 -5px 0 rgba(0, 0, 0, 0.24);
}

.top-header {
	align-content: center;
}

.top-header input {
	width: 269px;
	padding-top: 10px;
	padding-bottom: 13px;
	padding-left: 49px;
	font: inherit;
	background-color: transparent;
	border: none;
}

.search-wrapper {
	position: relative;
}

.top-header .search-icon {
	content: '';
	position: absolute;
	top: 11px;
	left: 17px;
	width: 17px;
	height: 17px;
}

.search-icon  path {
	opacity: 0.3;
}

.search-wrapper:hover path {
	opacity: 1;
}

.top-header input::placeholder {
	color: #ffffff;
	opacity: 1;
}

.top-header input:focus {
	color: #000000;
	background-color: #ffffff;
}

input:focus + .search-icon  path {
	fill: #ee3643;
	opacity: 1;
}

.top-header .logo:hover {
	background-color: #ca2c37;
}
.top-header .logo:active {
	background-color: #ba2732;
}

.top-header .search-wrapper:hover,
.top-header .bookmarks:hover,
.top-header .cart:hover {
	background-color: #212a3a;
}

.top-header .bookmarks:hover::before,
.top-header .cart:hover::before {
	opacity: 1;
}


.top-header .bookmarks:active,
.top-header .cart:active {
	background-color: #161d29;
	opacity: 0.6;
}

.top-header .bookmarks:active::before,
.top-header .cart:active::before {
	opacity: 0.5;
}

.top-header .bookmarks {
	padding-left: 45px;
	padding-right: 27px;
	text-align: center;
}

.top-header .bookmarks::before {
	content: '';
	position: absolute;
	top: 11px;
	left: 18px;
	width: 14px;
	height: 16px;
	background-image: url('../img/icon-bookmark.svg');
	background-repeat: no-repeat;
	background-position: 0 0;
	opacity: 0.3;
}

.top-header .cart {
	padding-left: 50px;
	padding-right: 31px;
	text-align: center;
}

.top-header .cart::before {
	content: '';
	position: absolute;
	top: 11px;
	left: 19px;
	width: 15px;
	height: 15px;
	background-image: url('../img/cart-icon.svg');
	background-repeat: no-repeat;
	background-position: 0 0;
	opacity: 0.3;
}

.cart.cart-with-items {
	padding-right: 26px;
	background-color: #ee3643;
}

.top-header .checkout {
	padding-left: 20px;
	padding-right: 22px;
	text-align: center;
	background-color: #63a63e;
}

.top-header .checkout:hover {
	background-color: #5fbb2d;
}
.top-header .checkout:active {
	background-color: #518534;
	opacity: 0.5;
}

.info {
	display: flex;
	margin-bottom: 39px;
}

.inner-page .info {
	display: flex;
	margin-bottom: 37px;
}

.info h1 {
	width: 250px;
	margin: 0;
	margin-right: 17px;
	padding: 0;
	padding-left: 53px;
	font-size: 16px;
	font-weight: 400;
	font-style: italic;
	line-height: 23px;
	color: #ee3643;
}

.info .contacts {
	width: 270px;
	text-align: center;
}

.info .telephone  {
	position: relative;
	display: block;
	padding-top: 9px;
	padding-bottom: 9px;
	padding-left: 68px;
	padding-right: 46px;
	font-size: 21px;
	line-height: 21px;
	color: #ee3643;
	border: 3px solid #ffffff;
}

.info .telephone::before {
	content: '';
	position: absolute;
	top: 10px;
	left: 13px;
	width: 19px;
	height: 19px;
	background-image: url('../img/icon-phone.svg');
	background-repeat: no-repeat;
	background-position: 0 0;
}

.contacts address {
	margin-top: 4px;
	font-size: 14px;
	color: #32425c;
	font-style: normal;
}

.user-navigation,
.user-menu {
	min-width: 280px;
	margin: 0;
	padding: 0;
	margin-left: auto;
	list-style-type: none;
}

.account {
	margin: 0;
	padding: 0;
	margin-left: auto;
	list-style-type: none;
}

.user-navigation .item  {
	position: relative;
	display: inline-block;
	background-color: #ffffff;
}

.account-action {
	position: relative;
	background-color: #ffffff;
}

.user-name {
	display: block;
	padding-top: 11px;
	padding-bottom: 13px;
	padding-left: 46px;
	padding-right: 67px;
}

.user-navigation li:first-child {
	margin-right: 6px;
}

.user-navigation .link {
	display: block;
	padding-top: 12px;
	padding-bottom: 12px;
	text-align: center;
}

.user-navigation .login {
	margin-right: 6px;
	padding-left: 46px;	
	padding-right: 21px;
}

.login-icon {
	position: absolute;
	top: 14px;
	left: 14px;
	width: 20px;
	height: 17px;
}

.user-profile-icon {
	position: absolute;
	top: 13px;
	left: 13px;
	width: 20px;
	height: 18px;
}

.user-icon-exit {
	position: absolute;
	top: 13px;
	right: 10px;
	width: 21px;
	height: 17px;
}

.login:hover .login-icon path,
.login:hover .login-icon polygon,
.login-icon:hover polygon,
.login-icon:hover path {
	fill: #32425C;
}

.login:active + .login-icon path,
.login:active + .login-icon polygon {
	fill: #c5c5c5;
}

.user-name:hover .user-profile-icon path,
.user-profile-icon:hover path {
	fill: #32425C;
}

.user-icon-exit:hover path,
.user-icon-exit:hover polygon {
	fill: #32425C;
}


.user-navigation .sign-up {
	padding-left: 24px;
	padding-right: 24px;
}

.user-navigation a,
.account-action {
	font-size: 21px;
	line-height: 21px;
	color: #000000;
}

.user-navigation .link:hover {
	color: #ee3643;
}

.user-navigation .link:active {
	color: #000000;
	opacity: 0.3;
	background: rgba(255,255,255,1);
}

.user-name  {
	font-size: 21px;
	line-height: 21px;
	color: #000000;
}

.user-name:hover {
	color: #000000;
}

.user-name:active,
.user-exit:active {
	opacity: 0.3;
}

.account-info {
	padding-top: 5px;
	padding-left: 17px;
}

.account-info span {
	display: inline-block;
	margin-left: 11px;
	margin-right: 9px;
	font-size: 10px;
	vertical-align: middle;
	text-align: center;
	color: #32425c
}

.user-info {
	display: inline-block;
	font-size: 16px;
	line-height: 18px;
	color: #32425c;
	text-decoration: underline;
}

.user-info:hover {
	color: #ee3643;
}

.user-info:active {
	color: #32425c;
	opacity: 0.3;
}  

.main-navigation {
	width: 100%;
	font-size: 17px;
	line-height: 17px;
	color: #ffffff;
	background-color: #32425c;
	box-shadow: inset 0 -5px 0 rgba(41, 52, 73, 1);
}

.main-navigation ul {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.main-navigation a {
	display: block;
	padding-top: 20px;
	padding-bottom: 23px;
	padding-left: 33px;
	padding-right: 33px;
	color: #ffffff;
	vertical-align: middle;
}

.main-navigation a:hover {
	background-color:  #293449;
}

.main-navigation a:active {
	background-color:  #1d2739;
	opacity: 0.5;
}

section .title {
	font-size: 30px;
	font-weight: 400;
	line-height: 30px;
	text-transform: uppercase;
}

.button {
	display: inline-block;
	padding: 10px 40px;
	font-size: 14px;
	line-height: 18px;
	text-align: center;
	vertical-align: middle;
	color: #ffffff;
	text-transform: uppercase;
	background-color: #ee3643;
	border-radius: 3px;
}

.button:hover {
	background-color: #ca2c37;
}

.button:active {
	background-color: #ba2732;
}

.services {
	background-color: #f4f7f9;
}

.services p,
.about-company p,
.address p {
	font-family: 'PT Sans', Arial, sans-serif;
}

.columns h2 {
	margin: 0;
	margin-bottom: 26px;
}

.columns p {
	margin: 0;
	margin-bottom: 23px;
}

.columns {
	display: flex;
	justify-content: space-between;
}

.columns .about-company {
	width: 540px;
}

.columns .address {
	width: 300px;
}

.about-company .list {
	padding: 0;
	margin-bottom: 36px;
	font-size: 18px;
	line-height: 20px;
	list-style-type: none;
}

.about-company .item {
	position: relative;
	padding-left: 36px;
	margin-bottom: 20px;
}

.about-company .item::before {
	content: '';
	position: absolute;
	top: 9px;
	left: 0;
	width: 25px;
	height: 2px;
	border-top: 2px solid #ee3643;
}

.address p {
	margin-bottom: 32px;
}

.address .map {
	margin-bottom: 33px;
}

.address .button {
	width: 100%;
	padding-left: 0;
	padding-right: 0;
}

.main-footer {
	margin-top: 85px;
}

.top-menu,
.bottom-menu,
.additional-info .container {
	display: flex;
}

.top-menu,
.bottom-menu {
	justify-content: space-between;
}


.main-footer .footer-menu {
	background-color: #32425c;
	padding-bottom: 49px;
}

.footer-menu .top-menu {
	margin-bottom: 28px;
}

.footer-menu .logo {
	width: 138px;
	height: 23px;
	padding-top: 21px;
	padding-bottom: 24px;
	padding-right: 41px;
	padding-left: 41px;
	text-align: center;
	background-color: #ee3643;
	box-shadow: inset 0 -5px 0 rgba(0, 0, 0, 0.24);
}

.footer-menu .navigation {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 0;
	margin: 0;
	font-size: 18px;
	line-height: 24px;
	list-style-type: none;
}

.top-menu .navigation {
	width: 547px;
	padding-top: 38px;
}

.navigation a {
	color: #f1f5f7;
}

.navigation a:hover {
	text-decoration: underline;
}

.navigation a:active {
	opacity: 0.5;
}

.bottom-menu address {
	width: 380px;
	padding: 0;
	padding-left: 3px;
	font-size: 18px;
	font-style: normal;
	color: #ffffff;
}

.bottom-menu address {
	color: #f1f5f7;
}

.bottom-menu .navigation {
	width: 524px;
}

.bottom-menu a {
	color: #ffd180;
}

.additional-info {
	padding-top: 35px;
	padding-bottom: 30px;
	background-color: #293449;
}

.copyright,
.feedback, 
.additional-info a {
	font-size: 16px;
	line-height: 18px;
	color: #ffffff;
}

.copyright {
	padding-top: 2px;
	padding-left: 2px;
}

.additional-info ul {
	list-style-type: none;
}

.copyright {
	width: 300px;
	margin: 0;
	margin-right: 88px;
}

.footer-social,
.feedback  {
	display: flex;
	margin: 0;
	padding: 0;
}

.feedback p {
	padding-top: 2px;
	padding-left: 1px;
	margin: 0;
}

.feedback p:first-child {
	margin-right: 51px;
}

.footer-social {
	flex-wrap: wrap;
	justify-content: space-between;
	width: 132px;
}

.social-button {
	display: flex;
	justify-content: center;
	width: 42px;
	height: 42px;
	background-color: #212a3a;
	background-repeat: no-repeat;
	background-position: center;
	border-radius: 50%;
}

.social-button:hover,
.social-button:active {
	background-color: #ee3643;
}

.vk {
	background-image: url('../img/vk-icon.svg');
}

.facebook {
	background-image: url('../img/fb-icon.svg');
}

.instagram {
	background-image: url('../img/insta-icon.svg');
}

.feedback {
	justify-content: space-around;
	width: 300px;
	margin-left: auto;
}

.feedback a {
	color: #ffd180;
}

.feedback a:hover {
	text-decoration: underline;
}

.feedback a:active {
	color: #ee3643;
	text-decoration: none;
}


/* Catalog page */

.inner-page .main-header {
	margin-bottom: 19px;
}

.breadcrumbs {
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
	padding: 0;
	margin: 0;
	margin-bottom: 20px;
	font-family: 'PT Sans', Arial, sans-serif;
	line-height: 18px;
	text-transform: uppercase;
	list-style-type: none;
}

.link-main-page {
	display: inline-block;
	width: 15px;
	height: 12px;
	background-image: url('../img/icon-home.svg');
	background-repeat: no-repeat;
	background-position: 0 0;
}

.breadcrumbs li {
	position: relative;
	margin-right: 40px;
}

.breadcrumbs li:last-child {
	margin-right: 0;
}

.breadcrumbs li::after {
	content: '';
	position: absolute;
	top: 3px;
	right: -21px;
	width: 8px;
	height: 12px;
	background-image: url('../img/icon-right-small.svg');
	background-repeat: no-repeat;
	background-position: 0 0;;
}

.breadcrumbs-current::after {
	display: none;
}

.breadcrumbs a {
	color: #000000;
}

.page-title {
	margin: 0;
	padding-top: 31px;
	padding-bottom: 30px;
	padding-left: 28px;
	margin-bottom: 20px;
	font-size: 30px;
	font-weight: 400;
	line-height: 30px;
	color: #32425c;
	text-transform: uppercase;
	background-color: #f2f6f8;
}

.catalog-columns {
	display: flex;
	justify-content: space-between;
}

.goods-columns {
	display: flex;
	flex-direction: column;
}

.filters {
	width: 220px;
}

.filter-title {
	font-size: inherit;
	font-weight: 400;
	line-height: 18px;
	font-family: 'PT Sans', Arial, sans-serif;
	text-transform: uppercase;
}

.filters legend {
	margin-bottom: 15px;
	font-size: 17px;
	font-weight: 700;
	font-family: 'PT Sans', Arial, sans-serif;
	line-height: 30px;
	text-transform: uppercase;	
}

.filter fieldset {
	margin: 0;
	padding: 0;
	border: 0;
	border-bottom: 1px #e5e5e5 solid;
}

.filter fieldset:last-of-type {
	border: 0;
}

.filters ul {
	font-size: 15px;
	line-height: 20px;
	font-family: 'PT Sans', Arial, sans-serif;
	text-transform: uppercase;
	list-style-type: none;
}

.manufacturer-list,
.power-list {
	margin: 0;
	padding: 0;
}

.power-title {
	margin-top: 17px;
	letter-spacing: 0.7px;
}

.manufacturer-list {
	margin-bottom: 21px;
}

.manufacturer-list .filter-option,
.power-list  .filter-option {
	margin-bottom: 20px;
}

.manufacturer-list .filter-option:last-child {
	margin-bottom: 0;
}

.power-list {
	margin-bottom: 77px;
}

input[type='radio']:disabled,
input[type='checkbox']:disabled, 
input[type='radio']:disabled + label, 
input[type='checkbox']:disabled + label {
	opacity: 0.4;
}

.filter .filter-button {
	padding: 9px 38px;
	font-size: 13px;
	line-height: 18px;
	font-family: 'PT Sans', Arial, sans-serif;
	color: #000000;
	text-transform: uppercase;
	background-color: #ffffff;
	border: 1px solid #e5e5e5;
}

.sort {
	width: 700px;
	margin-bottom: 20px;
}

.sort .list,
.sort .type-of-sort {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.catalog {
	width: 700px;
	margin: 20px auto;
	font-size: 0;
}

.catalog .list {
	margin: 0;
	margin-bottom: 50px;
	padding: 0;
	list-style-type: none;
}

.catalog .item {
	position: relative;
	display: inline-block;
	width: 218px;
	margin-right: 20px;
	margin-bottom: 20px;
	font-size: 16px;
	font-weight: 700;
	text-align: center;
	border: 1px solid #e5e5e5;
}

.catalog .item:nth-child(3n) {
	margin-right: 0;
}

.new-good {
	position: absolute;
	top: -1px;
	right: -1px;
	width: 60px;
	height: 59px;
	overflow: hidden;
	text-indent: -1000px;
	background: url(../img/new-flag.png) no-repeat 0 0;
	z-index: 20;
}

.catalog .action {
	position: absolute;
	top: 0;
	left: 0;
	width: 218px;
	height: 88px;
	margin: 40px 0;
	background-color: #ffffff;
	z-index: 10;
}

.action .buy,
.action .bookmark {
	display: block;
	width: 129px;
	margin: 0 auto;
	margin-bottom: 7px;
	padding: 7px 0;
	background-color: #63a63e;
	border: 3px solid #63a63e;
	border-bottom-color: #367315;
	border-radius: 3px;
	color: #ffffff;
	font-size: 14px;
	line-height: 18px;
	text-decoration: none;
	text-transform: uppercase;
}

.action .bookmark {
	color: #32425c;
	background-color: #ffffff;
	border-bottom-color: #63a63e;
}

.action .bookmark:hover {
	border-color: #32425c;
}

.action .bookmark:active {
	opacity: 0.3;
}

.action .buy {
	position: relative;
}

.action .buy::before {
	content: '';
	position: absolute;
	top: 7px;
	left: 10px;
	width: 15px;
	height: 15px;
	background-image: url('../img/cart-icon.svg');
	background-repeat: no-repeat;
	background-position: 0 0;
	opacity: 0.3;
}

.action .buy:hover::before,
.action .buy:active::before {
	opacity: 1;
}


.action .buy:hover {
	background-color: #5fbb2d;
	border-color: #5fbb2d;
	border-bottom-color: #367315;
} 

.action .buy:active {
	background-color: #518534;
	border-color: #518534;
}

.catalog .action {
	display: none;
}

.catalog .item:hover .action {
	display: block;
}

.goods-image {
	width: 218px;
	height: 170px;
	margin: 0;
}

.category-title {
	display: block;
}

.catalog .item:hover {
	box-shadow: 0 0 10px rgba(41, 52, 72, 0.5);
}

.item h3 {
	margin: 0;
	margin-top: 11px;
	margin-bottom: 10px;
	font-size: 18px;
	line-height: 20px;
	font-weight: 700;
	font-family: 'PT Sans', Arial, sans-serif;
}

.price-items {
	margin: 0;
}

.catalog .old-price,
.catalog .price {
	font-size: 17px;
	line-height: 18px;
	font-weight: 700;
	font-family: 'PT Sans', Arial, sans-serif;
	color: #999999;
	text-align: center;
}

.old-price {
	min-height: 20px;
	display: block;
	margin-bottom: 10px;
	text-decoration: line-through;
}

.catalog .price  {
	position: relative;
	display: block;
	width: 80px;
	margin: 10px auto;
	margin-bottom: 20px;
	padding: 10px 30px;
	color: #ffffff;
	background-color: #ee3643;
	border-radius: 3px;
}

.catalog .price::after {
	content: '';
	position: absolute;
	top: 0;
	right: -20px;
	width: 0;
	height: 0;
	border: 19px solid white;
	border-left-color: #ee3643;
}

.pagination-list {
	margin: 0;
	padding: 0;
	margin-bottom: 60px;
	list-style-type: none;
}

.about-tool {
	padding-top: 64px;
	padding-bottom: 67px;
	background-color: #f2f6f8;
}

.about-tool h2 {
	margin: 0;
}

.about-tool p {
	margin: 0;
	margin-top: 27px;
	font-family: 'PT Sans', Arial, sans-serif;
}

.inner-page .main-footer {
	margin-top: 0;
}

/* Modal */

.modal {
	display: none;
	position: fixed;
	background-color: #ffffff;
	box-shadow: 0 20px 40px #000000;
}

.modal-write-us {
	bottom: 200px;
	left: 50%;
	width: 460px;
	margin-left: -310px;
	padding-top: 46px;
	padding-bottom: 33px;
	padding-left: 80px;
	padding-right: 80px;
	border-top: 7px solid #ff5357;
	border-bottom: 113px solid #f4f4f4;
}

.modal-write-us form {
	position: relative;
}

.modal-write-us label {
	display: inline-block;
	font-size: 18px;
	line-height: 18px;
}

.modal-close {
	position: absolute;
	top: 16px;
	right: 9px;
	width: 21px;
	height: 21px;
	font-size: 0;
	background: none;
	border: 0;
	cursor: pointer;
}

.modal-write-us p {
	margin: 0;
}

.modal-close::before,
.modal-close::after {
	content: '';
	position: absolute;
	top: 2px;
	left: -2px;
	width: 27px;
	height: 4px;
	background-color: #ee3643;
}

.modal-close::before {
	transform: rotate(45deg);
}

.modal-close::after {
	transform: rotate(-45deg);
}

.form-wrapper {
	display: flex;
	justify-content: space-between;
	margin-bottom: 18px;
}

.form-wrapper p:first-child {
	margin-right: 20px;
}

.modal-write-us textarea,
.modal-write-us input[type="text"],
.modal-write-us input[type="email"] {
	margin: 0;
	margin-top: 5px;
	padding-top: 8px;
	padding-bottom: 8px;
	padding-left: 14px;
	font-family: 'PT Sans', Arial, sans-serif;
	line-height: 18px;
	border: 2px solid #dee3e4;
	border-radius: 3px;
	box-sizing: border-box;
}

.modal-write-us input[type="text"],
.modal-write-us input[type="email"] {
	width: 220px;
}

.modal-write-us textarea {
	width: 460px;
	height: 115px;
}

.modal-write-us .button-send {
	position: absolute;
	width: 100%;
	margin-top: 70px;
	border: 0;
}

.modal-map {
	left: 50%;
	bottom: 358px;
	width: 940px;
	height: 445px;
	margin-left: -470px;
	box-shadow: 0px 0px 15px 1px rgba(47, 42, 43, 0.5);
}

.modal-map p {
	margin: 0;
}

.modal-order {
	left: 50%;
	top: 410px;
	margin-left: -310px;
	border-top: 7px solid #ff5357;
}

.modal-order .container {
	width: 460px;
	padding-left: 80px;
	padding-right: 80px;
}

.modal-order .modal-wrapper-bg {
	padding-top: 38px;
	padding-bottom: 38px;
	background-color: #f1f1f1;
}

.modal-order p {
	margin: 0;
}

.modal-order .order {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.order-wrapper {
	display: flex;
	align-items: center;
	padding-top: 47px;
	padding-bottom: 50px;
}

.modal-order p {
	margin: 0;
	font-size: 30px;
	line-height: 30px;
}

.modal-order .icon-checkbox {
	width: 66px;
	height: 66px;
	margin-right: 35px;
	background-image: url('../img/cart-modul-icon.svg');
	background-repeat: no-repeat;
	background-position: 0 0;
}

.modal-order .order-list {
	display: flex;
	justify-content: space-between;
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.modal-order .button-order {
	padding-left: 60px;
	padding-right: 62px;
}

.modal-order .button-cancel {
	padding-left: 45px;
	padding-right: 45px;
	background-color: #ffffff;
	color: #000000;
}

.modal-show {
	display: block;
}

